[submodule "OpenGL-Sandbox/vendor/glfw"]
	path = OpenGL-Sandbox/vendor/glfw
	url = https://github.com/wooodiest/glfw
[submodule "OpenGL-Sandbox/vendor/glm"]
	path = OpenGL-Sandbox/vendor/glm
	url = https://github.com/wooodiest/glm
[submodule "OpenGL-Sandbox/vendor/imgui"]
	path = OpenGL-Sandbox/vendor/imgui
	url = https://github.com/wooodiest/imgui.git
	branch = docking
